
<div class="top-bar">

   <a href="/"><img class="logo" src="assets/logo.png" alt="logo"> </a>
    <ul>



        <li><a href="/login"><img class="icon" src="assets/user.png" alt="account"> </a></li>

</ul>
</div>


