
<div class="top-bar">

   <a href="/"><img class="logo" src="assets/logo.png" alt="logo"> </a>
    <ul>


        <li><a href="/register"><p>Sign-up</p></a></li>

        <li><a href="/login"><p>Login</p></a></li>

</ul>
</div>


