
<div class="top-bar">

   <a href="/"><img class="logo" src="assets/logo.png" alt="logo"> </a>
    <ul>

        <li><a><img class="icon" src="assets/badge.png" alt="characters"></a>
            <div class="tooltip">
                <span class="tooltiptext">Points: 1500</span>
            </div>
        </li>

        <li><a><img class="icon" src="assets/character.png" alt="characters"></a>
            <div class="tooltip">
                <span class="tooltiptext">Unlocked characters: 15/21</span>
            </div>
        </li>

        <li><a><img class="icon" src="assets/streak.png" alt="streak"></a>
            <div class="tooltip">
                <span id="streakCounter" class="tooltiptext">Streak: 0/5</span>
            </div>
        </li>

        <li><a><img class="icon" src="assets/user.png" alt="account"> </a></li>

</ul>
</div>


