<!DOCTYPE html>
<html lang="en">


<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Linguista.AI</title>

    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">

</head>


<body style="background: radial-gradient(circle, rgba(138,212,32,1) 0%, rgba(0,149,255,1) 100%);">
<p></p>

    <div class="login-container">

        <img src="assets/logo.png" alt="logo">
        <div class="login-input-container">
            <form method="post" action="/doLogin">
            <input type="email" class="login-input-box" id="email" name="email" placeholder="Email">
            <input type="password" class="login-input-box" id="password" name="password" placeholder="Password">
            <button type="submit" class="input-button" id="input-button" >LOGIN</button>
        </form>
        </div>


    </div>


</body>


</html>
