
body{
    margin: 0;
    font-family: 'Varela Round', sans-serif;
}

h1{
    text-align: center;
}

h2{
    text-align: center;
}

.show{
    display:flex;
}

.hide{
    display: none;
}

.top-bar{
    background: radial-gradient(circle, rgba(138,212,32,1) 0%, rgba(0,149,255,1) 100%);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding : 12px;
    padding-top: 18px;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    /*text-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;*/
    margin-bottom: 20px;
    height: 90px;
    
}

.top-bar li{
    min-width: 60px;
    max-width: 160px;
    display: inline-block;
    position: relative;
    font-size: 25px;
    text-align: center;
    background: transparent;
    padding: 0;
    transition: box-shadow .2s ease;
    margin-left: 25px;
    margin-right: 25px;
    

}

.top-bar ul{
    position: absolute;
    right: 0;
}

.top-bar li:hover{
    background-color: white;
    border-radius: 10px;
    padding-left: 4px;
}


.top-bar .logo{
    float: left;
    width: 420px;
    height: 90px;
}



.top-bar .icon{
    
    background: transparent;
    width: 50px;
    height: 50px;
    transition: filter .1s ease;
    filter: invert(1);

}

.top-bar li:hover .icon{

    filter: invert(71%) sepia(73%) saturate(514%) hue-rotate(34deg) brightness(95%) contrast(89%);
    
    /*filter: invert(0);*/
}

.tooltip {

    position: relative;
    display: inline-block;

}

.tooltip .tooltiptext {
    visibility: hidden;
    
    width: 0px;
    background-color: white;
    color: black;
    font-size: 18px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    
    padding: 5px 0;
    border-radius: 6px;
    
    
    
    top: 100%;
    left: 50%;
    margin-left: -140px;
    position: absolute;
    z-index: 1;
    transition:  width .2 ease;
  }
  

.top-bar li:hover .tooltip .tooltiptext {
    visibility: visible;
    width: 200px;
  }

.card{
    display: inline-block;
    text-align: center;
    
    width: 300px;
    height: 340px;
    background: trasparent;
    margin: 15px;
    border: 3px solid #0095FF;
    border-radius: 25px;
    font-size: 30px;
    color: black;
    transition: border .1s ease;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}

.card:hover{
    background: linear-gradient(rgba(0,149,255,1) 0%, rgba(138,212,32,1) 100%);
    border: 5px solid #0095FF;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 15px;
}

.card .flag-picture{
    
    
    width: 200px;
    height: 180px;
    
    /*border: 2px solid black;
    margin: 0px 0px 0px 48px;*/
}

.card .mode-picture{
    margin-top: 25px;
    margin-bottom: 25px;
    width: 180px;
    height: 180px;
}

.card span{
    /*margin: 28%*/
    
    
    height: fit-content;
}

.meter { 
    margin-top: 30px;
    margin-left: 7%;
    width: 75%;
    height: 20px;  
    position: relative;
    background: white;
    border-radius: 25px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 15px;
  }

  .meter > span {
    display: block;
    height: 100%;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    
    background: linear-gradient(90deg, rgba(0,149,255,1) 0%, rgba(138,212,32,1) 100%);
    
    position: relative;
    overflow: hidden;
  }

  .meter p{
    font-size: 20px;
  }


  .card:hover .meter {
    background: transparent;
}

.card:hover .meter > span{
    background: white;
}

.space-div{
    height: 90px;
}


.chat-container{
    position: relative;
    margin: 10px;
    padding: 15px;
    /*border: 2px solid grey;*/
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 15px;
    min-height: 850px;
    max-height: 850px;
}

.chat-container span{
    font-size: 22px;
}

.chat-contact-container{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 20px;
    
    border-radius: 10px;
    padding: 10px;

}

.chat-contact-container img{
    
  
    width: 100px;
    height: 90px;
}

.chat-contact{
    display: flex;
    align-items: center;
}

.chat-contact img{
    margin-left: 5px;
    margin-right: 5px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.chat-contact span{
    margin-left: 5px;
    font-size: 30px
}

.messages{
    
    max-height: 560px;
    overflow: auto;
}


.input-section{
    position: absolute;
    margin-top: 15px;
    margin-bottom: 10px;
    padding: 5px;
    /*border: 2px solid black;*/
    border-radius: 10px;
    bottom: 0;
    width: 98%;
    height: 50px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 15px;
}

.input-textbox{
    outline: none !important;
    height: 80%;
    width: 92%;
    font-size: 20px;
    border-radius: 10px;
    padding-left: 8px;
    border: 0px;
    /*box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 15px;*/
}

.grading-text{
    
    font-size: 13px;
    
    display: none;
}

.user-message:hover .grading-text{
    
    display: block;
}

.input-button{

    border: 3px solid rgba(0,149,255,1);
    border-radius: 20px;
    background: rgba(0,149,255,1);
    height: 50px;
    width: 7%;
    color: white;
    font-family: 'Varela Round', sans-serif;
    font-size: 20px;
    transition: background-color .2s ease;
    

}

.input-button:hover{

    
    
    background-color: white;
    color: rgba(138,212,32,1);
    
}



.user-message{
    display: block;
    color: white;
    float: right;
    overflow: auto;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 15px;
    background-color: rgba(0,149,255,1);
    min-width: 100px;
    max-width: 600px;
    height: auto;
    max-height: fit-content;
    padding: 20px;
    
    
}

.user-message:hover{
  
    animation-name: user-message-inflate;
    animation-duration: 0.1s;
    animation-direction: forwards;
}

@keyframes user-message-inflate {
    0% {
      max-width: 0;
      
    }
    100% {
      max-width: 600px;
      
    }
  }

.system-message{
    display: block;
    color: white;
    overflow: auto;
    border: 0;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 15px;
    background-color: rgba(138,212,32,1);
    min-width: 100px;
    max-width: 600px;
    width:fit-content;
    height: auto;
    max-height: fit-content;
    padding: 20px;
    transition: border .2 ease;
    -moz-transition: border .2 ease;
}







.footer-container{
    margin-top: 30px;
    width:100%;
    height: 300px;
    background: radial-gradient(circle, rgba(138,212,32,1) 0%, rgba(0,149,255,1) 100%);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    text-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}


.login-container{
    display: flex;
    justify-content: center;
    
    position: fixed;
      top: 50%;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, -50%);

    padding: 15px;
    /*border: 2px solid grey;*/
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 15px;
    width: 600px;
    height: 700px;
    background-color: white;
    
    
}


.login-container img{
    margin-top: 10px;
    position: absolute;
    width: 500px;
    height: 111px;
    filter: invert(1);
    
}

.login-container .login-input-container{

    position: relative;
    width: 220px;
    height: 200px;
    top: 25%;
    
}



.login-input-container input{
    outline: none !important;
    width: 220px;
    height: 60px;
    margin-top: 7%;
    margin-bottom: 7%;
    border: 3px solid darkgray;
    border-radius: 40px;
    padding-left: 20px;
    transition: border .2 ease;
    font-size: 18px;
    font-family: 'Varela Round', sans-serif;

}

.login-input-container input:focus{
    border: 3px solid rgba(0,149,255,1);
}

.login-input-container input:hover{
    border: 3px solid rgba(0,149,255,1);
}

.login-input-container .input-button{
    border-radius: 40px;
    width: 245px;
    height: 60px;
    margin-top: 7%;
    margin-bottom: 7%;
}


.login-input-container p{
   text-align: center;

}

.login-input-container a{
    text-align: center;
    color: rgba(0,149,255,1);
 
 }


.languages-selector{

    position: fixed;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
    width: 400px;
    height: 400px;
    background-color: white;
    border: 3px solid #0095FF;
    border-radius: 25px;
    font-size: 30px;
    color: black;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    justify-content: center;
    padding: 20px;
}

.selector{
    width: 270px;
    height: 40px;
    border-radius: 30px;
    font-size: 20px;
    
}

.languages-selector .input-button{
    border-radius: 40px;
    width: 245px;
    height: 60px;
    margin-top: 12px;
    margin-bottom: 12px;
}


