<!DOCTYPE html>
<html lang="en">


<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Linguista.AI</title>

    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">

</head>


<body>


    <header>
        <%- include("./header.ejs") %>
    </header>


<div class="user-info-container">

</div>

<div class="user-stats-container">
    
</div>


<footer>
    <%- include("./footer.ejs") %>
</footer>


</body>


</html>